@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipi.eot');
    src: url('../fonts/SolaimanLipi.woff') format('woff'),
    url('../fonts/SolaimanLipi.ttf') format('truetype'),
    url('../fonts/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
    url('../fonts/SolaimanLipi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: SolaimanLipi, sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%
}

a:hover {
    color: #f13d08;
    text-decoration: none;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

.footer-before-logo img {
    height: 50px;
}

.bg-gradient-blue {
    background: linear-gradient(90deg, rgba(76, 92, 186, 1) 0%, rgba(45, 158, 219, 1) 35%, rgba(101, 39, 159, 1) 100%);
}

.banner .jcarousel-control-next {
    right: 10px;
}

.banner .jcarousel-control-prev {
    left: 10px;
}

.banner .jcarousel-wrapper {
    border-radius: 0;
    border: none;
}
.jcarousel{margin-bottom: -6px}
.banner .jcarousel{margin-bottom: 0}

.news-ticker a {
    display: block;
}

.news-ticker ul li {
    position: relative;
}

.news-ticker ul li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
